/splash/Resources/Splash/
/splash/Resources/composer/
/splash/Resources/autoload.php
/splash/vendor/
/dispatch.php
/composer.lock
/.directory
/nbproject/

.directory
/save-commands.json
/.php_cs.cache
/coverage/
/build/
/reboot.sh
/.gh-pages/