################################################################################
#
#  This file is part of SplashSync Project.
#
#  Copyright (C) Splash Sync <www.splashsync.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################
# Include Pipeline Templates
include:
    - remote: 'https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/gitlab/pages.yaml'

################################################################
# Define Default Image
image: registry.gitlab.com/badpixxel-projects/php-sdk:php-8.0

################################################################
# Set any variables we need
variables:
    # Configure mysql environment variables (https://hub.docker.com/r/_/mysql/)
    MYSQL_DATABASE:         dolibarr
    MYSQL_ROOT_PASSWORD:    dolibarr
    DOCKER_DRIVER:          overlay2
    COMPOSER_MEMORY_LIMIT:  -1
    # Configure Dolibarr environment variables (https://github.com/Monogramm/docker-dolibarr)
    DOLI_DB_TYPE:           mysqli
    DOLI_DB_HOST:           mysql
    DOLI_DB_NAME:           dolibarr
    DOLI_DB_USER:           root
    DOLI_DB_PASSWORD:       dolibarr
    DOLI_ADMIN_LOGIN:       PhpUnit
    DOLI_INSTANCE_UNIQUE_ID: CI_JOB_ID

################################################################
# Defined Pipeline Stages
stages:
    - Quality
    - Basic
    - Advanced
    - Variants
    - Builds

################################################################
# Functional Tests
################################################################
.functionnal:   &functionnal
#     when:       manual
    tags:       ['Dedicated']
    retry:      2
    services:
        - mysql:5.7
    artifacts:
        when: always
        paths:
            -       "$CI_PROJECT_DIR/*-report.html"
        reports:
            junit:  "$CI_PROJECT_DIR/*-report.xml"
    ################################################################
    # Before Script
    before_script:
        - cat ci/before.sh | bash
    ################################################################
    # Main Script
    script:
        - pwd
        ################################################################
        # Start Web Server
        - service apache2 restart && service apache2 status
        ################################################################
        # Install Module
        - cat ci/install.sh | bash
        - cd  /var/www/html/custom
        ################################################################################
        # Build Module (Composer)
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/composer.sh | bash
        ################################################################################
        # Execute Bootstrap file
        - php ci/bootstrap.php
        # Show PhpUnit Version
        - splash/vendor/phpunit/phpunit/phpunit --version
        # Run PhpUnit Main Local Testsuite
        - splash/vendor/phpunit/phpunit/phpunit  --testsuite=Init               --log-junit $CI_PROJECT_DIR/init-report.xml --testdox-html $CI_PROJECT_DIR/init-report.html
        - splash/vendor/phpunit/phpunit/phpunit  --testsuite=$PHPUNIT_SUITE     --log-junit $CI_PROJECT_DIR/full-report.xml --testdox-html $CI_PROJECT_DIR/full-report.html

.functionnal-basic:   &functionnal-basic
    <<: *functionnal
    stage:          Basic
    variables:
        PHPUNIT_SUITE:   Basic

.functionnal-advanced:   &functionnal-advanced
    <<: *functionnal
    stage:          Advanced
    variables:
        PHPUNIT_SUITE:   Advanced

.functionnal-variants:   &functionnal-variants
    <<: *functionnal
    stage:          Variants
    variables:
        PHPUNIT_SUITE:   Variants

################################################################
# Functional Tests Map
################################################################

################################################################
# Dolibarr V19
Dol-19-Basics:
    image:          tuxgasy/dolibarr:19
    <<: *functionnal-basic
    allow_failure: true
Dol-19-Advanced:
    image:          tuxgasy/dolibarr:19
    <<: *functionnal-advanced
    allow_failure: true
Dol-19-Variants:
    image:          tuxgasy/dolibarr:19
    <<: *functionnal-variants
    allow_failure: true

################################################################
# Dolibarr V18
Dol-18-Basics:
    image:          tuxgasy/dolibarr:18
    <<: *functionnal-basic
Dol-18-Advanced:
    image:          tuxgasy/dolibarr:18
    <<: *functionnal-advanced
Dol-18-Variants:
    image:          tuxgasy/dolibarr:18
    <<: *functionnal-variants

################################################################
# Dolibarr V17
Dol-17-Basics:
    image:          tuxgasy/dolibarr:17
    <<: *functionnal-basic
Dol-17-Advanced:
    image:          tuxgasy/dolibarr:17
    <<: *functionnal-advanced
Dol-17-Variants:
    image:          tuxgasy/dolibarr:17
    <<: *functionnal-variants

################################################################
# Dolibarr V16
Dol-16-Basics:
    image:          tuxgasy/dolibarr:16
    <<: *functionnal-basic

################################################################
# Dolibarr V15
Dol-15-Basics:
    image:          tuxgasy/dolibarr:15
    <<: *functionnal-basic
Dol-15-Advanced:
    image:          tuxgasy/dolibarr:15
    <<: *functionnal-advanced
Dol-15-Variants:
    image:          tuxgasy/dolibarr:15
    <<: *functionnal-variants

################################################################
# Dolibarr V14
Dol-14-Basics:
    image:          tuxgasy/dolibarr:14.0.4
    <<: *functionnal-basic

################################################################
# Dolibarr V13
Dol-13-Basics:
    image:          tuxgasy/dolibarr:13
    allow_failure:  true
    <<: *functionnal-basic
Dol-13-Advanced:
    image:          tuxgasy/dolibarr:13
    allow_failure:  true
    <<: *functionnal-advanced
Dol-13-Variants:
    image:          tuxgasy/dolibarr:13
    allow_failure:  true
    <<: *functionnal-variants

################################################################
# Dolibarr DEV
# Dol-Dev-Basics:
#     image:          tuxgasy/dolibarr:develop
#     allow_failure:  true
#     retry:          0
#     <<: *functionnal-basic
# Dol-Dev-Advanced:
#     image:          tuxgasy/dolibarr:develop
#     allow_failure:  true
#     retry:          0
#     <<: *functionnal-advanced
# Dol-Dev-Variants:
#     image:          tuxgasy/dolibarr:develop
#     allow_failure:  true
#     retry:          0
#     <<: *functionnal-variants


################################################################
# Code Quality Verifications 
################################################################
.code_quality:   &code_quality
#     when:       manual
    stage:      Quality
    tags:       ['Dedicated']
    services:
        - mysql:5.7
    ################################################################
    # Before Script
    before_script:
        - cat ci/before.sh | bash
    ################################################################
    # Main Script
    script:
        ################################################################
        # Install Module
        - cat ci/install.sh | bash
        - cd  /var/www/html/custom
        ################################################################################
        # Build Module (Composer)
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/composer.sh | bash
        ################################################################
        # Execute Code Quality Analyze
        - pwd
        - php splash/vendor/bin/grumphp run --testsuite=travis
        - php splash/vendor/bin/grumphp run --testsuite=csfixer
        - php splash/vendor/bin/grumphp run --testsuite=phpstan
    ################################################################################
    # Run After Script
    after_script:
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/after.sh | sh

Dol-19-Quality:
    image:      tuxgasy/dolibarr:19
    <<: *code_quality
    allow_failure: true

Dol-18-Quality:
    image:      tuxgasy/dolibarr:18
    <<: *code_quality

Dol-17-Quality:
    image:      tuxgasy/dolibarr:17
    <<: *code_quality

Dol-16-Quality:
    image:      tuxgasy/dolibarr:16
    <<: *code_quality

Dol-14-Quality:
    image:      tuxgasy/dolibarr:14
    <<: *code_quality

################################################################
# Build Module
################################################################
module:
    image:      registry.gitlab.com/splashsync/php-console:pages
    stage:      Builds
    tags:       ['Dedicated']
    retry:      2
    ################################################################################
    # Run Test Script
    script:
        # Run Composer to Build deps
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/composer.sh  | bash
        # Build Documentation
        - php splash/vendor/bin/grumphp run --tasks=build-module
    artifacts:
        paths:
            - build
