
################################################################################
#
#  This file is part of SplashSync Project.
# 
#  Copyright (C) Splash Sync <www.splashsync.com>
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# 
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
# 
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################################
# Docker Compose File
#
# This Docker File intend to Create a Complete Dev Environment
# for Splash Modules on Prestashop
#
# To us different PS Version configured, you need to add hosts to /etc/hosts
# 
# 172.100.0.12        v12.dolibarr.local
# 172.100.0.13        v13.dolibarr.local
# 172.100.0.14        v14.dolibarr.local
# 172.100.0.15        v15.dolibarr.local
# 172.100.0.16        v16.dolibarr.local
# 172.100.0.99        latest.dolibarr.local
# 172.100.0.100       toolkit.dolibarr.local
# 172.100.0.101       db.dolibarr.local
# 172.100.0.200       phpmyadmin.dolibarr.local
#
################################################################################

version: "3.2"

services:

    ################################################################################
    # MySQL Container
    mysql:
        image: mysql:5.7
        container_name: db.dolibarr.local
        logging: { driver: "none" }
        environment:
            - "MYSQL_ROOT_PASSWORD=dolibarr"
            - "MYSQL_DATABASE=dolibarr"
            - "MYSQL_USER=dolibarr"
            - "MYSQL_PASSWORD=dolibarr"
        networks:
            dolibarr:      { ipv4_address: 172.100.0.101, aliases: [ db.dolibarr.local ] }
            splashsync:    { aliases: [ db.dolibarr.local ] }

    ################################################################################
    # Dolibarr Latest (Develop)
    dolibarr:
        image: tuxgasy/dolibarr:develop
        container_name: latest.dolibarr.local
        depends_on:
            - mysql
        working_dir:    /var/www/html/custom
        environment:
            - DOLI_DB_TYPE=mysqli
            - DOLI_DB_HOST=mysql
            - DOLI_DB_NAME=dolibarr
            - DOLI_DB_USER=root
            - DOLI_DB_PASSWORD=dolibarr
            - DOLI_ADMIN_LOGIN=Admin
            - DOLI_URL_ROOT=http://latest.dolibarr.local
            - PHP_MEMORY_LIMIT=-1
            - SPLASH_WS_ID=ThisIsDolLatestKey
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
        volumes:
            - "./:/var/www/html/custom/"
            - "./.git/:/var/www/html/custom/.git/"
#            - "./docker/overrides:/var/overrides/"
        entrypoint: sh /var/www/html/custom/docker/docker-entrypoint.sh
        hostname: latest.dolibarr.local
        networks:
            dolibarr:      { ipv4_address: 172.100.0.99 }
            splashsync:    { aliases: [ latest.dolibarr.local ] }

    ################################################################################
    # Dolibarr V16
    dol-16:
        image: tuxgasy/dolibarr:16
        container_name: v16.dolibarr.local
        depends_on:
            - mysql
        links:
            - mysql
        working_dir:    /var/www/html/custom
        environment:
            - "DOLI_DB_TYPE=mysqli"
            - "DOLI_DB_HOST=mysql"
            - "DOLI_DB_NAME=dolibarr16"
            - "DOLI_DB_USER=root"
            - "DOLI_DB_PASSWORD=dolibarr"
            - "DOLI_ADMIN_LOGIN=Admin"
            - "PHP_MEMORY_LIMIT=-1"
            - SPLASH_WS_ID=ThisIsDol16Key
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
        volumes:
            - "./:/var/www/html/custom/"
            - "./.git/:/var/www/html/custom/.git/"
        entrypoint: sh /var/www/html/custom/docker/docker-entrypoint.sh
        hostname: v16.dolibarr.local
        networks:
            dolibarr:      { ipv4_address: 172.100.0.16 }
            splashsync:    { aliases: [ v16.dolibarr.local ] }

    ################################################################################
    # Dolibarr V15
    dol-15:
        image: tuxgasy/dolibarr:15
        container_name: v15.dolibarr.local
        depends_on:
            - mysql
        links:
            - mysql
        environment:
            - "DOLI_DB_TYPE=mysqli"
            - "DOLI_DB_HOST=mysql"
            - "DOLI_DB_NAME=dolibarr15"
            - "DOLI_DB_USER=root"
            - "DOLI_DB_PASSWORD=dolibarr"
            - "DOLI_ADMIN_LOGIN=Admin"
            - "PHP_MEMORY_LIMIT=-1"
            - SPLASH_WS_ID=ThisIsDol15Key
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
        volumes:
            - "./:/var/www/html/custom/"
            - "./.git/:/var/www/html/custom/.git/"
        entrypoint: sh /var/www/html/custom/docker/docker-entrypoint.sh
        hostname: v15.dolibarr.local
        networks:
            dolibarr:      { ipv4_address: 172.100.0.15 }
            splashsync:    { aliases: [ v15.dolibarr.local ] }

    ################################################################################
    # Dolibarr V14
#    dol-14:
#        image: tuxgasy/dolibarr:14
#        container_name: dolibarr-v14
#        depends_on:
#            - mysql
#        links:
#            - mysql
#        environment:
#            - "DOLI_DB_TYPE=mysqli"
#            - "DOLI_DB_HOST=mysql"
#            - "DOLI_DB_NAME=dolibarr14"
#            - "DOLI_DB_USER=root"
#            - "DOLI_DB_PASSWORD=dolibarr"
#            - "DOLI_ADMIN_LOGIN=Admin"
#            - "PHP_MEMORY_LIMIT=-1"
#            - SPLASH_WS_ID=ThisIsDol14Key
#            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
#            - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
#        volumes:
#            - "./:/var/www/html/custom/"
#            - "./.git/:/var/www/html/custom/.git/"
#        entrypoint: sh /var/www/html/custom/docker/docker-entrypoint.sh
#        hostname: v14.dolibarr.local
#        networks:
#            dolibarr:      { ipv4_address: 172.100.0.14 }
#            splashsync:    { aliases: [ v14.dolibarr.local ] }

    ################################################################################
    # Dolibarr V13
#     dol-13:
#         image: tuxgasy/dolibarr:13
#         container_name: dolibarr-v13
#         depends_on:
#             - mysql
#         environment:
#             - "DOLI_DB_TYPE=mysqli"
#             - "DOLI_DB_HOST=mysql"
#             - "DOLI_DB_NAME=dolibarr13"
#             - "DOLI_DB_USER=root"
#             - "DOLI_DB_PASSWORD=dolibarr"
#             - "DOLI_ADMIN_LOGIN=Admin"
#             - "PHP_MEMORY_LIMIT=-1"
#             - SPLASH_WS_ID=ThisIsDol13Key
#             - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
#             - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
#         volumes:
#             - "./:/var/www/html/custom/"
#         entrypoint: sh /var/www/html/custom/docker/docker-entrypoint.sh
#         hostname: v13.dolibarr.local
#         networks:
#             dolibarr:      { ipv4_address: 172.100.0.13 }
#             splashsync:    { aliases: [ v13.dolibarr.local ] }

    ################################################################################
    # Dolibarr V12
    dol-12:
        image: tuxgasy/dolibarr:13
        container_name: v12.dolibarr.local
        depends_on:
            - mysql
        environment:
            - "DOLI_DB_TYPE=mysqli"
            - "DOLI_DB_HOST=mysql"
            - "DOLI_DB_NAME=dolibarr12"
            - "DOLI_DB_USER=root"
            - "DOLI_DB_PASSWORD=dolibarr"
            - "DOLI_ADMIN_LOGIN=Admin"
            - "PHP_MEMORY_LIMIT=-1"
            - SPLASH_WS_ID=ThisIsDol12Key
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://172.100.0.100/ws/soap
        volumes:
            - "./:/var/www/html/custom/"
        command: sh /var/www/html/custom/docker/docker-entrypoint.sh
        hostname: v12.dolibarr.local
        networks:
            dolibarr:      { ipv4_address: 172.100.0.12 }
            splashsync:    { aliases: [ v12.dolibarr.local ] }

    ################################################################################
    # Splash Toolkit Container   
    toolkit:
        image: 'splashsync/toolkit:alpine'
        container_name: toolkit.dolibarr.local
        logging: { driver: "none" }
        volumes:
            # Specify Local Configuration File
            - './docker/toolkit/splash.yml:/app/config/packages/splash.yml:ro'
        hostname:           toolkit.dolibarr.local
        command:            ["php", "/app/bin/console", "server:run", "172.100.0.100:80"]
        networks:
            dolibarr:      { ipv4_address: 172.100.0.100, aliases: [ toolkit.dolibarr.local ] }
            splashsync:    { aliases: [ toolkit.dolibarr.local ] }

    ################################################################################
    # PhpMyAdmin Container
    phpmyadmin:
        image: phpmyadmin/phpmyadmin:5
        container_name: phpmyadmin.dolibarr.local
        logging: { driver: "none" }
        depends_on:
            - mysql
        environment:
            - PMA_HOST=mysql
            - MYSQL_USER=dolibarr
            - MYSQL_ROOT_PASSWORD=dolibarr
            - MYSQL_PASSWORD=dolibarr
        networks:
            dolibarr:      { ipv4_address: 172.100.0.200, aliases: [ phpmyadmin.dolibarr.local ] }

networks:
    ################################################################################
    # Default Private Network
    dolibarr:
        driver: bridge
        ipam:
            config:
                - subnet: 172.100.0.0/24
    ################################################################################
    # External Splash Network
    splashsync:
        external: true  