
################################################################################
#
#  This file is part of SplashSync Project.
#
#  Copyright (C) Splash Sync <www.splashsync.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################################
# Docker Compose File
#
# This Docker File intend to Create a Complete Dev Environment
# for Splash Modules on Prestashop
#
# To us different PS Version configured, you need to add hosts to /etc/hosts
#
# 172.100.0.13        v13.dolibarr.local
# 172.100.0.14        v14.dolibarr.local
# 172.100.0.15        v15.dolibarr.local
# 172.100.0.16        v16.dolibarr.local
# 172.100.0.17        v17.dolibarr.local
# 172.100.0.18        v18.dolibarr.local
# 172.100.0.19        v19.dolibarr.local
# 172.100.0.20        v20.dolibarr.local
# 172.100.0.21        v21.dolibarr.local
# 172.100.0.22        v22.dolibarr.local
# 172.100.0.99        latest.dolibarr.local
# 172.100.0.100       toolkit.dolibarr.local
# 172.100.0.101       db.dolibarr.local
# 172.100.0.200       phpmyadmin.dolibarr.local
#
################################################################################

name: "php-splash-dolibarr-dev"

include:
    - docker/mysql.compose.yaml
    - docker/toolkit.compose.yaml
    - docker/dolibarr.compose.yaml
    - docker/dol-22.compose.yaml
    - docker/dol-21.compose.yaml
    - docker/dol-20.compose.yaml
    - docker/dol-19.compose.yaml
    - docker/dol-18.compose.yaml
    - docker/dol-17.compose.yaml
    - docker/dol-16.compose.yaml
    - docker/dol-15.compose.yaml

networks:
    ################################################################################
    # Default Private Network
    default:
        driver: bridge
        ipam:
            config:
                - subnet: 172.100.0.0/24
    ################################################################################
    # External Splash Network
    splashsync:
        external: true