<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertWarningsToExceptions = "true"
    convertNoticesToExceptions  = "false"
    processIsolation            = "false"
    stopOnFailure               = "true"
    bootstrap                   = "splash/vendor/autoload.php" 
    verbose                     = "true"
    timeoutForLargeTests        = "200"
>

    <testsuites>
        <testsuite name="Init">
            <directory>splash/vendor/splash/phpcore/Tests/Core</directory>
            <file>splash/src/Tests/L00MinimalDataTest.php</file>
        </testsuite>

        <testsuite name="Local">
            <directory>splash/vendor/splash/phpcore/Tests/Core</directory>
            <directory>splash/src/Tests</directory>
        </testsuite>

        <testsuite name="Basic">
            <directory>splash/vendor/splash/phpcore/Tests</directory>
            <directory>splash/src/Tests</directory>
        </testsuite>

        <testsuite name="Advanced">
            <directory>splash/vendor/splash/phpcore/Tests</directory>
            <directory>splash/src/Tests</directory>
        </testsuite>

        <testsuite name="Variants">
            <directory>splash/vendor/splash/phpcore/Tests</directory>
            <directory>splash/src/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini    name="display_errors"   value="true"/>
        <const  name="SPLASH_DEBUG"     value="true" />
        <server name="SPLASH_TRAVIS"    value="true" />
        <server name="SERVER_NAME"      value="http://localhost"/>
        
        <!-- Only Test Specified Types -->
        <!--<const  name="SPLASH_TYPES"     value="Address" />-->
        <!--<const  name="SPLASH_TYPES"     value="ThirdParty" />-->
        <!--<const  name="SPLASH_TYPES"     value="Product" />-->
        <!--<const  name="SPLASH_TYPES"     value="Order" />-->
        <!--<const  name="SPLASH_TYPES"     value="Invoice" />-->
        <!--<const  name="SPLASH_TYPES"     value="CreditNote" />-->
        <!--<const  name="SPLASH_TYPES"     value="SupplierInvoice" />-->

        <!-- Only Test Specified Sequence -->
        <!--<const  name="SPLASH_SEQUENCE"  value="Basic" />-->
        <!--<const  name="SPLASH_SEQUENCE"  value="Advanced" />-->
        <!--<const  name="SPLASH_SEQUENCE"  value="Variants" />-->
    </php>
</phpunit>
