<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "false"
    convertWarningsToExceptions = "false"
    processIsolation            = "false"
    stopOnFailure               = "true"
    bootstrap                   = "splash/vendor/autoload.php" 
    verbose                     = "true"
    timeoutForLargeTests        = "200"
>

    <testsuites>
        <testsuite name="Core">
            <directory>splash/vendor/splash/phpcore/Tests/*</directory>
        </testsuite>
        <testsuite name="Local">
            <directory>splash/src/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../splash/src/Objects</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="testdox-text" target="coverage/executed.txt"/>        
    </logging> 
        
    <php>
        <ini    name="display_errors"   value="true"/>
        <const  name="SPLASH_DEBUG"     value="true" />
        <server name="SPLASH_TRAVIS"    value="true" />
        <server name="SERVER_NAME"      value="http://localhost/Dolibarr/Dol-7.0/custom"/>
        
        <!-- Only Test Specified Types -->
        <!--<const  name="SPLASH_TYPES"     value="Address" />-->
        <!--<const  name="SPLASH_TYPES"     value="ThirdParty" />-->
        <!--<const  name="SPLASH_TYPES"     value="Product" />-->
        <!--<const  name="SPLASH_TYPES"     value="Order" />-->
        <!--<const  name="SPLASH_TYPES"     value="Invoice" />-->
        
        <!-- Only Test Specified Sequence -->
        <!--<const  name="SPLASH_SEQUENCE"  value="Monolangual" />-->           
        <!--<const  name="SPLASH_SEQUENCE"  value="Variants" />-->
        <!--<const  name="SPLASH_SEQUENCE"  value="VariantsMultiPrices" />-->
    </php>
</phpunit>
