<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "false"
    convertWarningsToExceptions = "false"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "splash/vendor/autoload.php" 
    verbose                     = "false"
    debug                       = "false"    
    timeoutForLargeTests        = "120"  
>

    <testsuites>
        <testsuite name="All">
            <directory>splash/Tests/*</directory>
            <directory>splash/vendor/splash/phpcore/Tests/*</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>splash/Tests/Core</directory>
            <directory>splash/vendor/splash/phpcore/Tests/Core</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory>splash/Tests/Admin</directory>
            <directory>splash/vendor/splash/phpcore/Tests/Admin</directory>
        </testsuite>
        <testsuite name="Objects">
            <directory>splash/Tests/Objects</directory>
            <directory>splash/vendor/splash/phpcore/Tests/Objects</directory>
        </testsuite>
        <testsuite name="Widgets">
            <directory>splash/Tests/Widgets</directory>
            <directory>splash/vendor/splash/phpcore/Tests/Widgets</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>splash/Tests</directory>
            <directory>splash/vendor/splash/phpcore</directory>
            <exclude>
                <directory>splash/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <php>
        <const  name="SPLASH_DEBUG" value="true" />
        <server name="SERVER_NAME" value="http://localhost/Dolibarr/Dol-3.9"/>
    </php>
</phpunit>
