includes:
    - '../splash/vendor/phpstan/phpstan-phpunit/extension.neon'
    - '../splash/vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/grumphp/phpstan.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 

    universalObjectCratesClasses:
            - ArrayObject
            - FactureStats
            - CommandeStats
    ignoreErrors:
        - '#Function completeFileArrayWithDatabaseInfo not found.#'

        # Undefined in Dolibarr Class Property       
        - '#Access to an undefined property [a-zA-Z0-9]+::\$entity.#'
        - '#Access to an undefined property Paiement::\$type_code.#'
        - '#Access to an undefined property object::\$global.#'
        - '#Access to an undefined property object::\$facture.#'
        - '#Access to an undefined property Product::\$fk_default_warehouse.#'

        # Wrong Comments in Dolibarr Class
        - '#Parameter \#2 \$type_contact of method CommonObject\:\:add_contact\(\) expects int\, string given.#'
        - '#Parameter \#2 \$mode of method Propal\:\:load_board\(\) expects int\, string given.#'

        # Fix for Dolibarr V11
        - '#Method ProductCombination::updateProperties\(\) invoked with 2 parameters, 1 required#'

        # Fix for Dolibarr V12
        - '#Method ProductAttributeValue::delete\(\) invoked with 1 parameter, 0 required#'
        - '#Method Adherent::load_board\(\) invoked with 2 parameters, 1 required#'

        # Fix for Dolibarr V17
        - '#Method ProductCombination2ValuePair::create\(\) invoked with 1 parameter, 0 required#'
        - '#Function forgeSQLFromUniversalSearchCriteria invoked with 3 parameters, 1-2 required.#'

        # Fix for Dolibarr V18
        - '#Class EcmfilesLine referenced with incorrect case: EcmFilesLine.#'

        # Fix for Dolibarr V19
        - '#Method Commande::load_board\(\) invoked with 2 parameters, 1 required#'