<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "false"
    convertWarningsToExceptions = "false"
    processIsolation            = "false"
    stopOnFailure               = "true"
    bootstrap                   = "../splash/vendor/autoload.php" 
    verbose                     = "true"
    timeoutForLargeTests        = "120"  
>

    <testsuites>
        <testsuite name="Core">
            <directory>../splash/vendor/splash/phpcore/Tests</directory>
        </testsuite>
        <testsuite name="Local">
            <directory>../splash/src/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../splash/src/Objects</directory>
        </whitelist>
    </filter>

    <php>
        <ini    name="display_errors"   value="true"/>
        <const  name="SPLASH_DEBUG"     value="true" />
        <server name="SPLASH_TRAVIS"    value="true" />       
        <server name="SERVER_NAME"      value="http://localhost/Dolibarr/Tests"/>
    </php>
</phpunit>
